.a {
	position: relative;
	display: inline-block;
}

button {
	padding: 16px;
	border: none;
}

.element {
	display: none;
	position: absolute;
}

.element img {
	padding: 12px 16px;
	display: block;
}

.a:hover .element {display: block;}

.a:hover button {background-color: Pink;} 
