body, html {
	height: 100%;
}

.parallax1 {
	background-image: url('https://media.robertsspaceindustries.com/a2g2ta0lq0uq5/source.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.mid {
	background-color: black;
	height: 100%;
}

.parallax2 {
	background-image: url('https://starcitizen.tools/images/thumb/c/cc/C2_Feature_Style_clouds.jpg/400px-C2_Feature_Style_clouds.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

p {
	position: relative;
	text-align: center;
	top: 50%;
	bottom: 50%;
	color:white;
}
