body {
	font-size: 16px;
	margin: 0;
	color: #000;
}

img {
	height: 100%;
}

.wrapper_outer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.wrapper {
	height: 100%;
	overflow-x: hidden;

	perspective: 1px;
}

.parallax {
	box-sizing: border-box;
	height: 100vh;
	/* padding: 10vh 10vh; */
	/* position: relative; */
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	/* z-index: 1; */

	overflow: hidden;

	transform-style: preserve-3d;
}

.img {
	position: absolute;
	/* background-size: cover; */
	/* background-position: center; */
	z-index: -1;
	height: 100%;
	/* overflow: hidden; */

	transform: translate3d(0,0,-1px) scale(2);
}

h2 {
	color: #fff;
	margin: 0 0 10px;
	font-size: 120px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	text-align: center;
	text-transform: uppercase;
}
